.header-background {
    background-image: linear-gradient(
    rgba(178, 223, 219, 0.2),
    rgba(178, 223, 219, 0.2)
  ),url("./images/drinks.png");
    /* background-image: url("./images/drinks.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dropdown {
    background-color: rgb(202, 234, 234);
}

#search-form {
    background-color: rgb(202, 234, 234);
}

button {
    background-color: teal; /* teal */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}

h2 {
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#results-submit {
    background-color: teal; /* teal */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}

#meal-results-submit {
    background-color: teal; /* teal to be unison */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}