

body {
    background-color: white;
}
header {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: gold;
    color: blue;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    text-shadow: 5px 5px 10px lightblue;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.navbar {
    background-color: black;
    overflow: hidden;
  }

  .navbar a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: white;
    color: black;
  }

  main {
    width: 95%;
    display: inline-block;
    margin-left: 20px;
    columns: 2;
  }

.button {
    margin-bottom: 20px;
    padding: 25px;
    height: 200px;

}









